.column {
    flex-basis: 48%;

    > h2 {
        position: sticky;
        top: 1.4em;
        // background: linear-gradient(#ffffffff, 90%, #ffffff00 100%);
        background: white;
        padding: .6em 1em .6em 1em;
        // border-radius: 0 0 1em 1em;
        box-shadow: 2px 4px 10px rgba(0,0,0,.5);

        span {
            font-weight: 100;
        }
    }
}